.busy {
    position: relative;
}

.busy:before, .busy:after {
    content: '';
    display: block;
    position: absolute;
}

.busy:before {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 999;
}

.busy:after {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    z-index: 4;
    border: 5px solid #ffffff;
    border-top-color: #fe5621;
    border-radius: 100%;
    -webkit-animation: loading2 linear .7s infinite;
    animation: loading2 linear .7s infinite;
}

@-webkit-keyframes loading2 {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading2 {
    100% {
        transform: rotate(360deg);
    }
}

.busy {
    position: relative;
}

.busy:before, .busy:after {
    content: '';
    display: block;
    position: absolute;
}

.busy:before {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 999;
}

.busy:after {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -16px 0 0 -16px;
    z-index: 4;
    border: 5px solid #ffffff;
    border-top-color: #fe5621;
    border-radius: 100%;
    -webkit-animation: loading2 linear .7s infinite;
    animation: loading2 linear .7s infinite;
}

@-webkit-keyframes loading2 {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes loading2 {
    100% {
        transform: rotate(360deg);
    }
}

.has-error {
    color: red;
}

fieldset {
    border: 1px solid #e9ecef !important;
    border-radius: 5px;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend {
    font-size: 12px;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;

    color: #3F4047;
}
.container-fluid{
    padding: 0;
}
.hght{
    position: relative;
    /*height: 100px;*/
}
.index-slider{
    max-height: 550px;
}

body{
    overflow-x: hidden;
    /*background-color: #cbccc9;*/
    font-family: 'Open Sans', sans-serif;
}

.card-img-top{
    border-radius: 100%;
    border: 10px solid #f8f8fa;
}
.card{
    border: 0;
}
.page-footer{
    background-color: #4f5555;
}
li {
    list-style-type: none; /* Убираем маркеры */
}
.slider{
    box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 7px 5px;
}

/*More button*/
.more{
    border:3px solid #218294;
    font-size: 0.8em;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    text-align: center;
    left: 33%;
    width: 100px;
    margin: 0 auto;
    padding: 1%;
    color: #218294;
    font-family: Arial, sans-serif;
    z-index: 1;
    transition: 0.5s;
    overflow: hidden;
    bottom: 0;

}
.more::before,
.more:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #218294;
    top:0;
    left: -100%;
    opacity: .5;
    transition: 0.3s;
    z-index: -1;
}
.more:after{
    opacity: 1;
    transition-delay: .1s;
}
.more:hover {
    color: #fff;

}

.more:hover::before,
.more:hover::after{
    left: 0;

}

.figurette-divider{
    margin: 5rem 0;
}

a{
    color: #218294;
}

.banner{
    width: 100%;
    height: 100%;
}

.article-boxed{
    margin: 0 auto;
}
.article__title{
    display: block;
    margin-bottom: 25px;
}
.breadcrumb-item{
    font-size: 14px;
}

.breadcrumb{
    padding: 2.25rem 1rem;
}

footer{
    color: white;
}
footer a{
    border-bottom: 1px solid white;
    color: white;
}
footer a:hover{
    text-decoration: none;
    border-bottom: 0;
    color: #218294;
}
.more-link{
    border-bottom: 1px solid;
}
.more-link:hover{
    border: 0;
    color: #000;
}
.page__header-title{
    font-size: 50px;
    padding-bottom: 2rem;
}
.nounderline{
    text-decoration: none !important;
}



#exTab1 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

#exTab2 h3 {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
    color : white;
    background-color: #428bca;
    padding : 5px 15px;
}