@media screen and (min-width: 1024px) {
    h1{
        font-size: 1.875rem;
    }
    .fotorama__nav
    {
        top: -70px;
        z-index: 999999;
    }
    .card-img-top{
        height: 250px;
        max-width: 270px;
        border-radius: 100%;
        border: 10px solid #f8f8fa;
        display: block;
        margin: 0 auto;
    }
    .card-margin:hover{
        transform: scale(1/*.05*/);
        transition: transform .4s ease;
    }
    .card{
        border: 0;
    }
    .col-lg-1-5{
        width: 12.499999995%;
    }
    .main-page{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-right: auto;
        margin-left: auto;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1001;
        margin-top: 0;
    }
    .sticky + .content {
        padding-top: 60px;
    }
    .card-margin{
        /*margin-right: 40px;*/
        min-height: 550px;
    }
    .card{
        margin-top: 50px;
        display: none;
    }
    /*.centered {*/
        /*position: absolute;*/
        /*top: 40%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/
        /*font-size: 40px;*/
    /*}*/
    /*.topped{*/
        /*position: absolute;*/
        /*top: 5%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/
        /*font-size: 20px;*/
        /*color: #ffffff;*/
    /*}*/
    .image-container{
        position: relative;
        text-align: center;
        color: white;
    }
    .top{
        width: 100%;
        height: 130px;
        position: absolute;
        z-index: 9999;
        color: #ffffff;
        font-weight: bolder;
        font-size: 20px;
        text-align: center;
    }
    #top-menu{
        margin-top: 50px;
        display: inline-block;
        padding: 0 20px;
        background: rgba(0, 0, 0, 0.55);
    }
    .header-item{
        list-style-type: none;
        display: inline;
        font-family: 'Open Sans', sans-serif;
        margin-right: 10px;
        color: #ffffff;
        text-decoration: none;
    }
    .header-item-link {
        color: #ffffff;
        text-decoration: none;
    }
    .header-item-link:hover{
        color:  #218294;
        text-decoration: none;
    }
    .header-image{
        /*margin-left: 10px;*/
        margin-right: 15px;
    }
    .phone-numbers{
        margin-top: 380px;
        /*width: 300px;*/
    }
    .number-item{
        display: block;
    }
    
    #navbar{
        display: none;
    }

    .navbar{
        height: 55px;
        background-color: rgb(247, 247, 247);
        color: rgb(76, 76, 76);
        box-shadow: rgba(0, 0, 0, 0.5) 0 -2px 7px 5px;
        /*display: none;*/
        /*text-align: center;*/
    }
    .navbar-collapse{
        text-align: center;
    }
    .navbar-nav{
        /*margin-left: 32%;*/
        margin: 0 auto;
    }
    .nav-item{
        margin-right: 30px;
        font-size: 1.4em;
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color:  #218294;
        text-decoration: none;
    }

    .navbar-numbers{
        max-width: 200px;
        margin: 1rem;
        margin-right: 1.5rem;
    }
    .navbar-phone{
        position: absolute;
        right: 0;
    }
    .phone-numbers h4 span{
        display: block;
    }

    .article-boxed{
        width: 800px;
    }

    .tour__price{
        float: right;
        color:#218294
    }

    /* HOTELS */

    .hotels{
        margin: 0;
        padding: 0;
        /*padding-bottom: 1rem;*/
        border-bottom: 1px solid #cfd6d1;
        list-style: none;
    }
    .hotels:hover{
        background-color: #e4e8f5;
    }
    .hotel__item{
        display: flex;
        padding: 1.25rem .9375rem;
    }

    .hotel__logo{
        flex: 100px;
        max-width: 250px;
        margin-right: 1.875rem;
    }
    .hotel__img{
        width: 100%;
    }
    .content{
        padding-bottom: 2rem;
    }
    .hotel_content{
        font-size: 1rem;
    }
    .hotel__title{
        font-size: 1.25rem;
    }
    .hotel__title:hover{
        text-decoration: none;
        color: #000;
    }

    /* HOTEL Filters */
    .filters{
        margin: 0;
    }

    .filter__title{
        font-weight: 700;
        margin-bottom: 17px;
        display: block;
        font-size: 1.125rem;
    }

    .leisure-cat-wrapper{
        border-bottom: .5px solid #218294;
        padding: 1rem 0 0 .5rem;
    }

    .leisure-cat-wrapper:hover{
        background-color: #e4e8f5;
        text-decoration: none;
        color: #000;
    }

    .leisure-wrapper{
        margin-bottom: 5rem;
    }

    .leisure h5:hover{
        color: #000;
        text-decoration: none;
    }
}
@media all and /*(min-width: 409px) and */(max-width: 479px) {
    .card-img-top{
        height: 300px;
        border-radius: 100%;
        border: 10px solid #f8f8fa;
    }
    .card{
        border: 0;
    }
    .slider{
        display: none;
    }
    .top{
        display: none;
    }
    .navbar-numbers{
        max-width: 200px;
    }
    .navbar{
        width: 100%;
        position: relative;
    }
    .more{
        display: none;
    }
    .article-boxed img{
        width: 100%;
    }
    .main-page{
        margin-bottom: 2rem;
    }
}

