.facts {
  background-color: $mc;
  padding: 40px 0;
  position: relative;
  overflow-x: hidden;

  .swiper-button-nexta,
  .swiper-button-preva {
    color: #ffffff;
    font-size: 40px;
    position: absolute;
    outline: none;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .swiper-button-nexta {
    right: 10px;
    z-index: 9;
  }

  .swiper-button-preva {
    left: 10px;
    z-index: 9;
  }

  &__slider {
    min-height: 300px;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__itemWrap {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    max-width: 400px;
    width: 100%;

    p {
      font-size: 14px;
    }
  }

  &__caption {
    font-size: 20px;
  }
}
