.gallery {
  padding-top: 170px;

  @media (max-width: 991.98px) {
    padding-top: 220px;
  }

  @media (max-width: 575.98px) {
    padding-top: 180px;
  }

  &__wrap {
    padding-top: 40px;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;
    position: relative;
    align-items: center;
    justify-content: center;

    @media (max-width: 575.98px) {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &:hover {
      &:before {
        opacity: 1;
        transform: scale(1);
      }

      &:after {
        opacity: 1;
      }

      .gallery__albumName {
        opacity: 1;
        top: 30px;
      }
    }

    &:before {
      position: absolute;
      content: '';
      font-family: 'Font Awesome\ 5 Pro';
      transform: scale(3);
      transition: all .3s;
      color: #ffffff;
      opacity: 0;
      font-size: 30px;
      z-index: 1;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all .3s;
      opacity: 0;
    }

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__hiddenItem {
    display: none;
  }

  &__albumName {
    position: absolute;
    top: 0;
    transition: all .3s;
    opacity: 0;
    z-index: 1;

    h3 {
      color: #ffffff;
    }
  }
}