.header {
  position: fixed;
  max-width: 100%;
  width: 100%;
  min-height: 180px;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  transition: top 0.2s ease-in-out;

  @media (max-width: 1367.98px) {
    min-height: 120px;
  }

  @media (max-width: 1199.98px) {
    padding: 30px 0;
  }

  &:before {
    position: absolute;
    content: '';
    mask-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(0, 0, 0) 45%);
    background-color: rgb(19, 95, 167);
    width: 100%;
    min-height: 100%;
    opacity: 0.94;
  }

  &__search {
    position: absolute;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;

    @media (max-width: 1367.98px) {
      top: -40px;
    }

    @media (max-width: 1199.98px) {
      top: -50px;
      right: 20px;
    }

    @media (max-width: 991.98px) {
      right: 40px;
      bottom: 15px;
    }

    @media (max-width: 767.98px) {
      right: 25px;
      bottom: 15px;
    }

    @media (max-width: 575.98px) {
      right: 50%;
      transform: translateX(50%);
      top: 60%;
      z-index: 999;
      left: auto;
    }
  }

  &__searchInput {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    position: relative;
    padding-bottom: 5px;
    outline: none;
    color: #ccc;
    font-size: 14px;
    max-width: 300px;
    width: 100%;
    border-radius: 0;
  }

  ::-webkit-input-placeholder {
    color: #ccc;
    font-weight: 400;
    font-size: 14px;
  }

  ::-moz-placeholder {
    color: #ccc;
    font-weight: 400;
    font-size: 14px;
  }


  :-moz-placeholder {
    color: #ccc;
    font-weight: 400;
    font-size: 14px;
  }


  :-ms-input-placeholder {
    color: #ccc;
    font-weight: 400;
    font-size: 14px;
  }

  button {
    outline: none;
  }

  &__searchSubmit {
    border: none;
    background-color: transparent;
    outline: none;

    i {
      color: #ffffff;
    }
  }

  &__social {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
    display: inline-block !important;
    top: -50px;
    right: -152px;

    @media (max-width: 1367.98px) {
      top: -40px;
    }

    @media (max-width: 1199.98px) {
      top: -50px;
      right: -130px;
    }

    @media (max-width: 991.98px) {
      right: 120px;
      transform: translateX(-50%);
      top: -128%;
    }

    @media (max-width: 575.98px) {
      right: 50%;
      transform: translateX(50%);
      top: 70%;
      z-index: 9;
    }

    li {
      list-style: none;
      display: inline-block;
      margin-left: 20px;

      &:first-child {
        margin: 0;
      }

      a {
        color: #ffffff;
        transition: all .3s;
        display: block;

        &:hover {
          transform: rotate(360deg) scale(1.4);
        }
      }
    }
  }


  &__logo {
    max-width: 100px;
    width: 100%;
    min-height: 100px;

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__nav {
    @media (max-width: 991.98px) {
      margin-top: 25px;
    }

    @media (max-width: 575.98px) {
      left: -100%;
      position: fixed;
      width: 100%;
      max-width: 100%;
      min-height: 100vh;
      background-color: rgba(19, 95, 167, .9);
      margin: 0;
      transition: all .3s;
      top: 0;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      padding: 0;

      @media (max-width: 1199.98px) {
        justify-content: space-between;
      }

      @media (max-width: 575.98px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
      }
    }
  }

  .mobileMnu-js {
    left: 0;
  }

  &__userPanel {
    display: flex;
    align-items: center;
    justify-content: space-around;

    select {
      background: none;
      border: none;
      color: #ffffff;
      outline: none;
      max-width: 50px;
      width: 100%;
      cursor: pointer;

      option {
        background-color: $mc !important;
        border: none;
        cursor: pointer;
      }
    }
  }

  &__feedBack {
    i {
      font-size: 25px;
      color: #fff;
    }
  }

  &__item {
    list-style-type: none;

    @media (max-width: 575.98px) {
      margin-bottom: 10px;
    }

    &:last-child {
      @media (max-width: 575.98px) {
        margin: 0;
      }
    }

    &--active {
      .header__link {
        &:before {
          width: 100%;
        }
      }
    }
  }

  &__link {
    position: relative;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;

    @media (max-width: 1199.98px) {
      font-size: 15px;
    }

    &:before {
      position: absolute;
      content: '';
      bottom: -5px;
      height: 2px;
      width: 0;
      background-color: #fff;
      left: 50%;
      transform: translateX(-50%);
      transition: all .3s;
    }

    &:hover {
      text-decoration: none;
      color: #fff;

      &:before {
        width: 100%;
      }
    }
  }
}
