.intro {
  background-color: rgb(10, 93, 169);
  padding: 100px 0;
  min-height: 700px;

  .captionWrap {
    position: relative;
    z-index: 1;

    .captionSecond {
      color: #ffffff;
      font-size: 50px;
      margin-bottom: 0;
      line-height: 40px;
      font-family: 'Play';
      font-weight: 400;
      margin-bottom: 20px;
    }

    .subCaption {
      font-size: 30px;
      color: #ffffff;
      font-weight: normal;
      margin: 0;
      font-family: 'Play';
    }
  }

  &__desc {
    max-width: 100%;
    margin-top: 30px;
    width: 100%;

    p {
      color: #ffffff;
      line-height: 25px;
      font-family: 'OpenSans';
    }


  }
}
