.news {
  padding: 50px 0;
  background-color: #f8f8f8;

  &__newsWrap {
    padding-top: 50px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

    @media (max-width: 1199.98px) {
      flex-direction: column;
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }

  &__caption {
    font-size: 16px;
    color: #000000;

    &:hover {
      color: $mc;
      text-decoration: none;
    }
  }

  &__img {
    max-width: 50%;
    width: 100%;
    display: block;
    position: relative;

    @media (max-width: 1199.98px) {
      max-width: 100%;
    }

    &:before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      border-top: .8125rem solid transparent;
      border-right: .9375rem solid #fff;
      border-bottom: .8125rem solid transparent;
      transition: all .3s;
      opacity: 0;
      z-index: 1;
    }

    &:after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      transition: all .3s;
      opacity: 0;
    }

    &:hover {

      &:before,
      &:after {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__desc {
    max-width: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
    padding: 5px 5px 5px 15px;

    @media (max-width: 1199.98px) {
      max-width: 100%;
    }

    p {
      font-size: 14px;
      color: #a4a3a3;
      margin-bottom: 0;
      line-height: normal;
    }
  }

  &__bottomWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }

  &__more {
    text-transform: uppercase;
    text-align: right;
    display: block;
    transition: all .3s;
    color: #a4a3a3;
    font-size: 13px;

    &:hover {
      color: $mc;
      text-decoration: none;

      .news__img:before {
        opacity: 1;
      }
    }
  }

  &__detailImg {
    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__detailCaption {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #000;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;


    @media (max-width: 991.98px) {
      font-size: 18px;
    }

    @media (max-width: 767.98px) {
      font-size: 16px;
      font-weight: 700;
    }
  }

  &--detail {
    padding-top: 200px;
    padding-bottom: 0;

    @media (max-width: 991.98px) {
      padding-top: 250px;
    }

    @media (max-width: 575.98px) {
      padding-top: 170px;
    }
  }

  &__data {
    padding-top: 10px;
    text-align: right;

    span {
      color: #c6c6c6;
      font-size: 1rem;
      font-weight: 400;
    }

    p {
      font-size: 1.125rem;
      color: #000;
      font-weight: 400;
    }
  }
}
